
#Header {
  height:100vh;
  background-color: #222;
}

.Header-name-container {
  display: inline-block;

}

.Home-header {
  top: 5vh;
  left:0;
  right:0;
  position: absolute;
  text-align: center;

}

.Home-header h2 {
  margin:0;
  padding:0;
}

.Header-first-name {
  
  text-align: left;
  margin:0;
  padding:0;
  color: #222;
  font-weight: 100;
  font-style: normal;
  font-size: 4em;

}

.Header-last-name {
  margin:0;
  padding:0;
  color: #65c6ff;
  font-weight: 300;
  font-size: 8em;
  font-style: normal;
  margin-left: -0.05em;
}

.Home-header-bottom {
  bottom: 4em;
  left:0;
  right:0;
  position: absolute;
}
